<div class="slide slide-11 partial-slide">
    <div ng-click="switchPartial($event)">
        <h1>angular.module methods</h1>
        <h2>config and run</h2>
    </div>
    <hr>
    <ng-include src=" 'views/partials/slide-11-config.html' " ng-if="showPartial === 1" ng-controller="Slide11ConfigController"></ng-include>
    <ng-include src=" 'views/partials/slide-11-config-code.html' " ng-if="showPartial === 2"></ng-include>
    <ng-include src=" 'views/partials/slide-11-run.html' " ng-if="showPartial === 3" ng-controller="Slide11RunController"></ng-include>
    <ng-include src=" 'views/partials/slide-11-run-code.html' " ng-if="showPartial === 4"></ng-include>
</div>